---
---
<!DOCTYPE HTML>
<html>
    <head>
        <title>Did {{ site.data.mother.first_name }} Have The Baby Yet?</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/main.css">
    </head>
    <body>
    {% if site.data.baby.is_born %}
        <p id="yes">{% if site.data.baby.gender == 'female' %}Sh{% else %}H{% endif %}e's Here!</p>
        <p><img id="baby" src="images/baby.jpg" /></p>
        <p><img id="separator" src="images/separator.png" /></p>
        <div>
            <p id="first_names">{{ site.data.baby.first_name }} {{ site.data.baby.middle_name }}</p>
            <p id="last_name">{{ site.data.baby.last_name }}</p>
            <p id="date">BORN <span class="info">{{ site.data.baby.birth_datetime | date: "%A, %B %-d %Y" | upcase }}</span> AT <span class="info">{{ site.data.baby.birth_datetime | date: "%I:%M %p" }}</span><p>
            <p id="measurements">WEIGHING <span class="info">{{ site.data.baby.weight_pounds }} LBS. {{ site.data.baby.weight_ounces }} OZ.</span> AND MEASURING <span class="info">{{ site.data.baby.length_inches }} INCHES</span> LONG</p>
        </div>
    {% else %}
        <p id="no">No.</p>
    {% endif %}
    </body>
</html>

